<!DOCTYPE html>
<html>
<head>
  <title>IFanimal - Início</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <h1>IFanimal!</h1>
  <p>Escolha uma das opções abaixo:</p>  
  <ul>
    <li><a href="/pets">Ver todos os Gatos</a></li>
    <li><a href="/pets/cadastrar">Cadastrar um novo Gato</a></li>
    <li><a href="/adocoes">Cadastrar Adoção</a></li>
    <li><a href="/doacoes">Cadastrar Doação</a></li>
    <p>O Ifanimal e um projeto dedicado a adoção de gatos no ifal, esse site irá ser usado por administradores do ifanimal</p>
  </ul>
</body>
</html>

